In [1]:
import pyodbc
import pandas as pd
import numpy as np

In [2]:
pip install sweetviz

Collecting sweetviz
  Using cached sweetviz-2.0.2-py3-none-any.whl (15.1 MB)
Requirement already satisfied: tqdm>=4.43.0 in c:\users\rita\anaconda3\lib\site-packages (from sweetviz) (4.50.2)
Requirement already satisfied: matplotlib>=3.1.3 in c:\users\rita\anaconda3\lib\site-packages (from sweetviz) (3.3.2)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in c:\users\rita\anaconda3\lib\site-packages (from sweetviz) (1.1.3)
Collecting importlib-resources>=1.2.0
  Using cached importlib_resources-3.3.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\rita\anaconda3\lib\site-packages (from sweetviz) (2.11.2)
Requirement already satisfied: numpy>=1.16.0 in c:\users\rita\anaconda3\lib\site-packages (from sweetviz) (1.19.2)
Requirement already satisfied: scipy>=1.3.2 in c:\users\rita\anaconda3\lib\site-packages (from sweetviz) (1.5.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\rita\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.4.7)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\rita\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2020.6.20)
Requirement already satisfied: pillow>=6.2.0 in c:\users\rita\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (8.0.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\rita\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\rita\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\rita\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (0.10.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\rita\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2020.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\rita\anaconda3\lib\site-packages (from jinja2>=2.11.1->sweetviz) (1.1.1)
Requirement already satisfied: six>=1.5 in c:\users\rita\anaconda3\lib\site-packages (from python-dateutil>=2.1->matplotlib>=3.1.3->sweetviz) (1.15.0)
Installing collected packages: importlib-resources, sweetviz
Successfully installed importlib-resources-3.3.0 sweetviz-2.0.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
import sweetviz as sv

In [4]:
### In windows, Using a ODBC DNS (predefined connection name)
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=DUSHI-DELL\SQLEXPRESS;"
                      "Database=Fraud Detection;"
                      "Trusted_Connection=yes;")

In [5]:
### Get the train table
df_fraud = pd.read_sql("SELECT * FROM Train",cnxn)

In [6]:
df_fraud.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,None,NaN,None,None,None,None,None,None,None,None
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,None,NaN,None,None,None,None,None,None,None,None
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,None,NaN,None,None,None,None,None,None,None,None
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,None,NaN,None,None,None,None,None,None,None,None
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M

In [7]:
advert_report = sv.analyze(df_fraud, pairwise_analysis='off')

HBox(children=(HTML(value=''), FloatProgress(value=0.0, layout=Layout(flex='2'), max=435.0), HTML(value='')), â€¦

In [8]:
advert_report.show_html('df_fraud.html')

Report df_fraud.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [11]:
from sklearn.metrics import log_loss, roc_auc_score
from datetime import datetime
import datatable as dt
from datatable.models import Ftrl

In [18]:
df_fraud.shape

(590540, 434)