# עבודת סיכום מס' 4

In [1]:
import pandas as pd
import sweetviz as sv
import pyodbc
import numpy as np

### BoxOffice FlatFile import using ODBC

In [2]:
conn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=DESKTOP-V5ABLPD\SQLEXPRESS;"
                      "Database=BoxOffice;"
                      "Trusted_Connection=yes;")

In [3]:
ff = pd.read_sql("SELECT * FROM movies_ff_v ;",conn) 
ff.head()

,movie_id,budget,original_language,popularity,release_date,runtime,runtime_cat,revenue,sw_lang_en,sw_web_presence,...,depart_Camera_female,depart_Crew_female,depart_Custom_Mkup_female,depart_Directing_female,depart_Editing_female,depart_Lighting_female,depart_Production_female,depart_Sound_female,depart_Visual_Effects_female,depart_Writing_female
0,1,14000000,en,6.575393,2015-02-20,93.0,Short,12314651.0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,40000000,en,8.248895,2004-08-06,113.0,Medium,95149435.0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0
2,3,3300000,en,64.299990,2014-10-10,105.0,Medium,13092000.0,1,1,...,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
3,4,1200000,hi,3.174936,2012-03-09,122.0,Large,16000000.0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0,ko,1.148070,2009-02-05,118.0,Medium,3923970.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
ff.dtypes

movie_id                          int64
budget                            int64
original_language                object
popularity                      float64
release_date                     object
                                 ...
depart_Lighting_female          float64
depart_Production_female        float64
depart_Sound_female             float64
depart_Visual_Effects_female    float64
depart_Writing_female           float64
Length: 85, dtype: object

In [8]:
ff.shape

(7375, 85)

### EDA

In [22]:
advert_report = sv.analyze(ff)

advert_report.show_html('ff.html')

:FEATURES DONE:                    |█████████████████████| [100%]   00:25  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:25  -> (00:00 left)

Creating Associations graph... DONE!
Report ff.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.