# Regression Models in R (tips)

In [1]:
library(readr)
library(mechkar)
library(dplyr)
library(ggplot2)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [2]:
df_train <- read.csv("C:/Users/Rita/DataScience/data/BikeSharing/train.csv")
df_test <- read.csv("C:/Users/Rita/DataScience/data/BikeSharing/test.csv")

In [3]:
head(df_train)
dim(df_train)

  id season mnth holiday weekday workingday weathersit temp     atemp
1 1  1      1    0       6       0          2          0.344167 0.363625
2 2  1      1    0       0       0          2          0.363478 0.353739
3 3  1      1    0       1       1          1          0.196364 0.189405
4 4  1      1    0       2       1          1          0.200000 0.212122
5 5  1      1    0       3       1          1          0.226957 0.229270
6 6  1      1    0       4       1          1          0.204348 0.233209
  hum      windspeed cnt
1 0.805833 0.1604460  985
2 0.696087 0.2485390  801
3 0.437273 0.2483090 1349
4 0.590435 0.1602960 1562
5 0.436957 0.1869000 1600
6 0.518261 0.0895652 1606

[1] 365  12

In [4]:
head(df_test)
dim(df_test)

  id  season mnth holiday weekday workingday weathersit temp     atemp
1 366 1      1    0       0       0          1          0.370000 0.375621
2 367 1      1    1       1       0          1          0.273043 0.252304
3 368 1      1    0       2       1          1          0.150000 0.126275
4 369 1      1    0       3       1          2          0.107500 0.119337
5 370 1      1    0       4       1          1          0.265833 0.278412
6 371 1      1    0       5       1          1          0.334167 0.340267
  hum      windspeed
1 0.692500 0.192167
2 0.381304 0.329665
3 0.441250 0.365671
4 0.414583 0.184700
5 0.524167 0.129987
6 0.542083 0.167908

[1] 366  11

# EDA

In [5]:
summary(df_train)

       id          season           mnth           holiday
 Min.   :  1   Min.   :1.000   Min.   : 1.000   Min.   :0.0000
 1st Qu.: 92   1st Qu.:2.000   1st Qu.: 4.000   1st Qu.:0.0000
 Median :183   Median :3.000   Median : 7.000   Median :0.0000
 Mean   :183   Mean   :2.499   Mean   : 6.526   Mean   :0.0274
 3rd Qu.:274   3rd Qu.:3.000   3rd Qu.:10.000   3rd Qu.:0.0000
 Max.   :365   Max.   :4.000   Max.   :12.000   Max.   :1.0000
    weekday        workingday       weathersit         temp
 Min.   :0.000   Min.   :0.0000   Min.   :1.000   Min.   :0.05913
 1st Qu.:1.000   1st Qu.:0.0000   1st Qu.:1.000   1st Qu.:0.32500
 Median :3.000   Median :1.0000   Median :1.000   Median :0.47917
 Mean   :3.008   Mean   :0.6849   Mean   :1.422   Mean   :0.48666
 3rd Qu.:5.000   3rd Qu.:1.0000   3rd Qu.:2.000   3rd Qu.:0.65667
 Max.   :6.000   Max.   :1.0000   Max.   :3.000   Max.   :0.84917
     atemp              hum           windspeed            cnt
 Min.   :0.07907   Min.   :0.0000   Min.   :0.02239   Min.   : 431
 1st Qu.:0.32195   1st Qu.:0.5383   1st Qu.:0.13558   1st Qu.:2132
 Median :0.47285   Median :0.6475   Median :0.18690   Median :3740
 Mean   :0.46684   Mean   :0.6437   Mean   :0.19140   Mean   :3406
 3rd Qu.:0.61238   3rd Qu.:0.7421   3rd Qu.:0.23508   3rd Qu.:4586
 Max.   :0.84090   Max.   :0.9725   Max.   :0.50746   Max.   :6043

In [6]:
df_train$season <- factor(df_train$season)
df_train$mnth <- factor(df_train$mnth)
df_train$holiday <- factor(df_train$holiday)
df_train$weekday <- factor(df_train$weekday)
df_train$workingday <- factor(df_train$workingday)
df_train$weathersit <- factor(df_train$weathersit)

In [7]:
summary(df_train)

       id      season      mnth     holiday weekday workingday weathersit
 Min.   :  1   1:90   1      : 31   0:355   0:52    0:115      1:226
 1st Qu.: 92   2:92   3      : 31   1: 10   1:52    1:250      2:124
 Median :183   3:94   5      : 31           2:52               3: 15
 Mean   :183   4:89   7      : 31           3:52
 3rd Qu.:274          8      : 31           4:52
 Max.   :365          10     : 31           5:52
                      (Other):179           6:53
      temp             atemp              hum           windspeed
 Min.   :0.05913   Min.   :0.07907   Min.   :0.0000   Min.   :0.02239
 1st Qu.:0.32500   1st Qu.:0.32195   1st Qu.:0.5383   1st Qu.:0.13558
 Median :0.47917   Median :0.47285   Median :0.6475   Median :0.18690
 Mean   :0.48666   Mean   :0.46684   Mean   :0.6437   Mean   :0.19140
 3rd Qu.:0.65667   3rd Qu.:0.61238   3rd Qu.:0.7421   3rd Qu.:0.23508
 Max.   :0.84917   Max.   :0.84090   Max.   :0.9725   Max.   :0.50746

      cnt
 Min.   : 431
 1st Qu.:2132
 Median :3740
 Mean   :3406
 3rd Qu.:4586
 Max.   :6043

# DATASET PARTITION

In [8]:
tab1 <- train_test(data=df_train,train_name="train",test_name="test",prop=0.7,seed=5,tableone=TRUE)
tab1

Dataset partitioned into:

 + Train dataset: train

 + Test dataset: test

Warning message in Table1(data = df, y = "traintest_ind_", messages = FALSE):
"The following variables have unique values and will not be included in the analysis: "

  |======================================================================| 100%

Warning message:
"The `x` argument of `as_tibble.matrix()` must have column names if `.name_repair` is omitted as of tibble 2.0.0.
Using compatibility `.name_repair`.
This warning is displayed once every 8 hours.
Call `lifecycle::last_warnings()` to see where this warning was generated."

  |===========================                                           |  38%

Warning message in stats::chisq.test(data[[v]], data[[y]]):
"Chi-squared approximation may be incorrect"

  |=================================================================     |  92%

You got a perfectly balanced training and test datasets

   V1             V2           Pop
1  Individuals    n            365
2  id             Mean (SD)    183.0 (105.5)
3  id             Median (IQR) 183.0 (92.0-274.0)
4  season         1            90 (24.7%)
5  season         2            92 (25.2%)
6  season         3            94 (25.8%)
7  season         4            89 (24.4%)
8  mnth           1            31 (8.5%)
9  mnth           2            28 (7.7%)
10 mnth           3            31 (8.5%)
11 mnth           4            30 (8.2%)
12 mnth           5            31 (8.5%)
13 mnth           6            30 (8.2%)
14 mnth           7            31 (8.5%)
15 mnth           8            31 (8.5%)
16 mnth           9            30 (8.2%)
17 mnth           10           31 (8.5%)
18 mnth           11           30 (8.2%)
19 mnth           12           31 (8.5%)
20 holiday        1            10 (2.7%)
21 weekday        0            52 (14.2%)
22 weekday        1            52 (14.2%)
23 weekday        2            52 (14.2%)
24 weekday        3            52 (14.2%)
25 weekday        4            52 (14.2%)
26 weekday        5            52 (14.2%)
27 weekday        6            53 (14.5%)
28 workingday     1            250 (68.5%)
29 weathersit     1            226 (61.9%)
30 weathersit     2            124 (34.0%)
31 weathersit     3            15 (4.1%)
32 temp           Mean (SD)    0.5 (0.2)
33 temp           Median (IQR) 0.5 (0.3-0.7)
34 atemp          Mean (SD)    0.5 (0.2)
35 atemp          Median (IQR) 0.5 (0.3-0.6)
36 hum            Mean (SD)    0.6 (0.1)
37 hum            Median (IQR) 0.6 (0.5-0.7)
38 windspeed      Mean (SD)    0.2 (0.1)
39 windspeed      Median (IQR) 0.2 (0.1-0.2)
40 cnt            Mean (SD)    3,405.8 (1,378.8)
41 cnt            Median (IQR) 3,740.0 (2,132.0-4,586.0)
42 traintest_ind_ Mean (SD)    1.3 (0.5)
43 traintest_ind_ Median (IQR) 1.0 (1.0-2.0)
   1                         2                         pval
1  255                       110                       NA
2  183.7 (105.0)             181.4 (107.2)             NA
3  181.0 (92.5-272.5)        184.5 (88.0-277.0)        0.854
4  62 (24.3%)                28 (25.5%)                NA
5  67 (26.3%)                25 (22.7%)                0.914
6  65 (25.5%)                29 (26.4%)                NA
7  61 (23.9%)                28 (25.5%)                NA
8  20 (7.8%)                 11 (10.0%)                NA
9  18 (7.1%)                 10 (9.1%)                 0.841
10 24 (9.4%)                 7 (6.4%)                  NA
11 20 (7.8%)                 10 (9.1%)                 NA
12 23 (9.0%)                 8 (7.3%)                  NA
13 23 (9.0%)                 7 (6.4%)                  NA
14 20 (7.8%)                 11 (10.0%)                NA
15 24 (9.4%)                 7 (6.4%)                  NA
16 20 (7.8%)                 10 (9.1%)                 NA
17 21 (8.2%)                 10 (9.1%)                 NA
18 18 (7.1%)                 12 (10.9%)                NA
19 24 (9.4%)                 7 (6.4%)                  NA
20 5 (2.0%)                  5 (4.5%)                  0.166
21 36 (14.1%)                16 (14.5%)                NA
22 34 (13.3%)                18 (16.4%)                0.931
23 36 (14.1%)                16 (14.5%)                NA
24 34 (13.3%)                18 (16.4%)                NA
25 38 (14.9%)                14 (12.7%)                NA
26 38 (14.9%)                14 (12.7%)                NA
27 39 (15.3%)                14 (12.7%)                NA
28 175 (68.6%)               75 (68.2%)                1
29 153 (60.0%)               73 (66.4%)                NA
30 93 (36.5%)                31 (28.2%)                0.253
31 9 (3.5%)                  6 (5.5%)                  NA
32 0.5 (0.2)                 0.5 (0.2)                 NA
33 0.5 (0.3-0.7)             0.5 (0.3-0.7)             0.633
34 0.5 (0.2)                 0.5 (0.2)                 NA
35 0.5 (0.3-0.6)             0.5 (0.3-0.6)             0.681
36 0.6 (0.2)                 0.7 (0.1)                 NA
37 0.6 (0.5-0.7)             0.6 (0.5-0.7)             0.53
38 0.2 (0.1)                 0.2 (0.1)                 NA
39 0.2 (0.1-0.2)             0.2 (0.1-0.2)             0.704
40 3,443.5 (1,363.5)         3,318.2 (1,415.8)         NA
41 3,750.0 (2,185.5-4,591.0) 3,577.5 (1,916.5-4,546.2) 0.426
42 NA                        NA                        NA
43 NA                        NA                        0

in table1 we are checking if there is diff. between train and test, b/c they suppos. to be not signiffently diff. (higher then 0.05 pvalue). if some var. less, we have to balance this variable

In [9]:
tab1 %>% filter(pval < 0.05)

  V1             V2           Pop           1  2  pval
1 traintest_ind_ Median (IQR) 1.0 (1.0-2.0) NA NA 0

# MODELS

In [10]:
### The error we will use is the RMSE and RMSLE
rmse <- function(y,y_hat) {
    err <- sqrt(sum((y_hat-y)^2,na.rm=T)/length(y))
    return(err)
}

rmsle <- function(y,y_hat) {
    err <- sqrt(sum((log(y_hat+1)-log(y+1))^2,na.rm=T)/length(y))
    return(err)
}

In [11]:
### Table of resulting errors
### Name, Model, RMSE, RMSLE
err_res <- NULL

## Linear Models

In [12]:
## model with only the original variables
mod1 <- lm(cnt ~., data=train)
summary(mod1)

Call:
lm(formula = cnt ~ ., data = train)

Residuals:
    Min      1Q  Median      3Q     Max
-2351.2  -281.8    49.3   315.1  1643.8

Coefficients: (1 not defined because of singularities)
             Estimate Std. Error t value Pr(>|t|)
(Intercept)  1765.418    304.169   5.804 2.17e-08 ***
id             -5.444      4.133  -1.317 0.189147
season2       480.129    212.698   2.257 0.024943 *
season3       868.711    252.799   3.436 0.000702 ***
season4      1231.007    215.068   5.724 3.29e-08 ***
mnth2         390.491    226.880   1.721 0.086595 .
mnth3         663.199    309.957   2.140 0.033455 *
mnth4        1290.897    464.783   2.777 0.005939 **
mnth5        2251.882    568.274   3.963 9.94e-05 ***
mnth6        2106.798    690.979   3.049 0.002570 **
mnth7        1347.358    826.740   1.630 0.104553
mnth8        1851.927    927.585   1.997 0.047079 *
mnth9        2199.177   1028.174   2.139 0.033515 *
mnth10       2396.705   1151.136   2.082 0.038465 *
mnth11       2256.498   1269.729   1.777 0.076889 .
mnth12       2311.622   1392.214   1.660 0.098222 .
holiday1      227.425    290.044   0.784 0.433800
weekday1       37.742    145.701   0.259 0.795841
weekday2       99.071    137.390   0.721 0.471600
weekday3       40.572    139.379   0.291 0.771246
weekday4      117.240    136.365   0.860 0.390836
weekday5       72.819    134.964   0.540 0.590041
weekday6       21.999    133.145   0.165 0.868911
workingday1        NA         NA      NA       NA
weathersit2  -342.885     98.178  -3.492 0.000576 ***
weathersit3 -1506.675    225.946  -6.668 1.96e-10 ***
temp         3304.623   2801.179   1.180 0.239350
atemp         -85.538   2990.349  -0.029 0.977205
hum         -1095.564    356.170  -3.076 0.002357 **
windspeed   -1755.689    562.171  -3.123 0.002024 **
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 569.5 on 226 degrees of freedom
Multiple R-squared:  0.8448,	Adjusted R-squared:  0.8256
F-statistic: 43.94 on 28 and 226 DF,  p-value: < 2.2e-16

In [13]:
pred1 <- predict(mod1,newdata=test)
rmse(test$cnt,pred1)
rmsle(test$cnt,pred1)
err_res <- rbind(err_res, data.frame(Name="Base Linear regression", Model="mod1", 
                                     RMSE=rmse(test$cnt,pred1), 
                                     RMSLE=rmsle(test$cnt,pred1)))

Warning message in predict.lm(mod1, newdata = test):
"prediction from a rank-deficient fit may be misleading"

[1] 633.0224

[1] 0.2467678

In [63]:
## model with all the variables
mod2 <- lm(cnt ~., data=train)
summary(mod2)

Call:
lm(formula = cnt ~ ., data = train)

Residuals:
    Min      1Q  Median      3Q     Max
-2351.2  -281.8    49.3   315.1  1643.8

Coefficients: (11 not defined because of singularities)
              Estimate Std. Error t value Pr(>|t|)
(Intercept)   1765.418    304.169   5.804 2.17e-08 ***
id              -5.444      4.133  -1.317 0.189147
season2        480.129    212.698   2.257 0.024943 *
season3        868.711    252.799   3.436 0.000702 ***
season4       1231.007    215.068   5.724 3.29e-08 ***
mnth2          390.491    226.880   1.721 0.086595 .
mnth3          663.199    309.957   2.140 0.033455 *
mnth4         1290.897    464.783   2.777 0.005939 **
mnth5         2251.882    568.274   3.963 9.94e-05 ***
mnth6         2106.798    690.979   3.049 0.002570 **
mnth7         1347.358    826.740   1.630 0.104553
mnth8         1851.927    927.585   1.997 0.047079 *
mnth9         2199.177   1028.174   2.139 0.033515 *
mnth10        2396.705   1151.136   2.082 0.038465 *
mnth11        2256.498   1269.729   1.777 0.076889 .
mnth12        2311.622   1392.214   1.660 0.098222 .
holiday1       227.425    290.044   0.784 0.433800
weekday1        37.742    145.701   0.259 0.795841
weekday2        99.071    137.390   0.721 0.471600
weekday3        40.572    139.379   0.291 0.771246
weekday4       117.240    136.365   0.860 0.390836
weekday5        72.819    134.964   0.540 0.590041
weekday6        21.999    133.145   0.165 0.868911
workingday2   -342.885     98.178  -3.492 0.000576 ***
workingday3  -1506.675    225.946  -6.668 1.96e-10 ***
weathersit2         NA         NA      NA       NA
weathersit3         NA         NA      NA       NA
weathersit4         NA         NA      NA       NA
weathersit5         NA         NA      NA       NA
weathersit6         NA         NA      NA       NA
weathersit7         NA         NA      NA       NA
weathersit8         NA         NA      NA       NA
weathersit9         NA         NA      NA       NA
weathersit10        NA         NA      NA       NA
weathersit11        NA         NA      NA       NA
weathersit12        NA         NA      NA       NA
temp          3304.623   2801.179   1.180 0.239350
atemp          -85.538   2990.349  -0.029 0.977205
hum          -1095.564    356.170  -3.076 0.002357 **
windspeed    -1755.689    562.171  -3.123 0.002024 **
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 569.5 on 226 degrees of freedom
Multiple R-squared:  0.8448,	Adjusted R-squared:  0.8256
F-statistic: 43.94 on 28 and 226 DF,  p-value: < 2.2e-16

In [64]:
pred2 <- predict(mod2,newdata=test)
rmse(test$cnt,pred2)
rmsle(test$cnt,pred2)
err_res <- rbind(err_res, data.frame(Name="Extended Linear regression", Model="mod2", 
                                     RMSE=rmse(test$cnt,pred2), 
                                     RMSLE=rmsle(test$cnt,pred2)))

Warning message in predict.lm(mod2, newdata = test):
"prediction from a rank-deficient fit may be misleading"

[1] 633.0224

[1] 0.2467678

## Desicion trees

In [14]:
library(tree)
library(rpart)

In [15]:
mod3 <- tree(cnt ~., data=train)
mod3

node), split, n, deviance, yval
      * denotes terminal node

 1) root 255 472200000 3444
   2) id < 103.5 72  29950000 1794
     4) id < 44.5 28   4019000 1264 *
     5) id > 44.5 44  13030000 2132
      10) atemp < 0.42201 37   6977000 1987 *
      11) atemp > 0.42201 7   1163000 2898 *
   3) id > 103.5 183 169400000 4092
     6) temp < 0.470834 56  40020000 3251
      12) id < 356.5 49  18920000 3464 *
      13) id > 356.5 7   3391000 1764 *
     7) temp > 0.470834 127  72340000 4463
      14) hum < 0.849375 115  32820000 4603
        28) atemp < 0.714015 103  25500000 4679 *
        29) atemp > 0.714015 12   1704000 3956 *
      15) hum > 0.849375 12  15640000 3121 *

In [16]:
pred3 <- predict(mod3,newdata=test)
rmse(test$cnt,pred3)
rmsle(test$cnt,pred3)
err_res <- rbind(err_res, data.frame(Name="Decision Trees-tree", Model="mod3", 
                                     RMSE=rmse(test$cnt,pred3), 
                                     RMSLE=rmsle(test$cnt,pred3)))

[1] 783.2539

[1] 0.354204

In [17]:
mod4 <- rpart(cnt ~., data=train)
mod4

n= 255

node), split, n, deviance, yval
      * denotes terminal node

 1) root 255 472245600 3443.518
   2) id< 103.5 72  29945000 1794.347
     4) id< 44.5 28   4019411 1263.750 *
     5) id>=44.5 44  13026240 2132.000
      10) atemp< 0.42201 37   6976874 1987.054 *
      11) atemp>=0.42201 7   1163201 2898.143 *
   3) id>=103.5 183 169432600 4092.372
     6) temp< 0.4708335 56  40016160 3251.321
      12) id>=356.5 7   3391103 1763.714 *
      13) id< 356.5 49  18921250 3463.837 *
     7) temp>=0.4708335 127  72337040 4463.228
      14) hum>=0.849375 12  15644150 3121.167 *
      15) hum< 0.849375 115  32824010 4603.270
        30) atemp>=0.7140145 12   1704387 3955.667 *
        31) atemp< 0.7140145 103  25500620 4678.718 *

In [18]:
pred4 <- predict(mod4,newdata=test)
rmse(test$cnt,pred4)
rmsle(test$cnt,pred4)
err_res <- rbind(err_res, data.frame(Name="Decision Trees-rpart", Model="mod4", 
                                     RMSE=rmse(test$cnt,pred4), 
                                     RMSLE=rmsle(test$cnt,pred4)))

[1] 783.2539

[1] 0.354204

## Random Forest

In [19]:
library(randomForest)
library(ranger)

randomForest 4.6-14

Type rfNews() to see new features/changes/bug fixes.


Attaching package: 'randomForest'


The following object is masked from 'package:ggplot2':

    margin


The following object is masked from 'package:dplyr':

    combine



Attaching package: 'ranger'


The following object is masked from 'package:randomForest':

    importance

In [20]:
mod5 <- randomForest(cnt ~., data=train)
mod5

Call:
 randomForest(formula = cnt ~ ., data = train)
               Type of random forest: regression
                     Number of trees: 500
No. of variables tried at each split: 3

          Mean of squared residuals: 269446.8
                    % Var explained: 85.45

In [21]:
pred5 <- predict(mod5,newdata=test)
rmse(test$cnt,pred5)
rmsle(test$cnt,pred5)

err_res <- rbind(err_res, data.frame(Name="RandomForest (RF)", Model="mod5", 
                                     RMSE=rmse(test$cnt,pred5), 
                                     RMSLE=rmsle(test$cnt,pred5)))

[1] 597.5216

[1] 0.3008261

In [22]:
mod6 <- ranger(cnt ~., data=train)
mod6

Ranger result

Call:
 ranger(cnt ~ ., data = train)

Type:                             Regression
Number of trees:                  500
Sample size:                      255
Number of independent variables:  11
Mtry:                             3
Target node size:                 5
Variable importance mode:         none
Splitrule:                        variance
OOB prediction error (MSE):       260690.7
R squared (OOB):                  0.859786

In [23]:
pred6 <- predict(mod6,data=test)
#head(pred6)
rmse(test$cnt, pred6$predictions)
rmsle(test$cnt, pred6$predictions)
err_res <- rbind(err_res, data.frame(Name="RandomForest (ranger)", Model="mod6", 
                                     RMSE=rmse(test$cnt,pred6$predictions), 
                                     RMSLE=rmsle(test$cnt,pred6$predictions)))

[1] 577.1015

[1] 0.2925601

## XGBoost

In [24]:
#install.packages("xgboost")

Installing package into 'C:/Users/Rita/Documents/R/win-library/4.0'
(as 'lib' is unspecified)

package 'xgboost' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'xgboost'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\Rita\Documents\R\win-library\4.0\00LOCK\xgboost\libs\x64\xgboost.dll to C:\Users\Rita\Documents\R\win-library\4.0\xgboost\libs\x64\xgboost.dll: Permission denied"
Warning message:
"restored 'xgboost'"

The downloaded binary packages are in
	C:\Users\Rita\AppData\Local\Temp\RtmpAV1GO1\downloaded_packages

In [26]:
library(xgboost)

In [27]:
train_num <- train

In [28]:
test_num <- test

In [29]:
train_num$season <- as.numeric(train_num$season)
train_num$mnth <- as.numeric(train_num$mnth)
train_num$holiday <- as.numeric(train_num$holiday)
train_num$weekday <- as.numeric(train_num$weekday)
train_num$workingday <- as.numeric(train_num$weathersit)
train_num$weathersit <- as.numeric(train_num$mnth)

In [30]:
test_num$season <- as.numeric(test_num$season)
test_num$mnth <- as.numeric(test_num$mnth)
test_num$holiday <- as.numeric(test_num$holiday)
test_num$weekday <- as.numeric(test_num$weekday)
test_num$workingday <- as.numeric(test_num$weathersit)
test_num$weathersit <- as.numeric(test_num$mnth)

In [31]:
summary(test_num)

       id            season           mnth           holiday
 Min.   :  6.0   Min.   :1.000   Min.   : 1.000   Min.   :1.000
 1st Qu.: 88.0   1st Qu.:1.250   1st Qu.: 3.250   1st Qu.:1.000
 Median :184.5   Median :3.000   Median : 7.000   Median :1.000
 Mean   :181.4   Mean   :2.518   Mean   : 6.482   Mean   :1.045
 3rd Qu.:277.0   3rd Qu.:3.750   3rd Qu.:10.000   3rd Qu.:1.000
 Max.   :364.0   Max.   :4.000   Max.   :12.000   Max.   :2.000
    weekday        workingday      weathersit          temp
 Min.   :1.000   Min.   :1.000   Min.   : 1.000   Min.   :0.05913
 1st Qu.:2.000   1st Qu.:1.000   1st Qu.: 3.250   1st Qu.:0.33354
 Median :4.000   Median :1.000   Median : 7.000   Median :0.47250
 Mean   :3.855   Mean   :1.391   Mean   : 6.482   Mean   :0.47943
 3rd Qu.:5.750   3rd Qu.:2.000   3rd Qu.:10.000   3rd Qu.:0.65354
 Max.   :7.000   Max.   :3.000   Max.   :12.000   Max.   :0.83833
     atemp              hum           windspeed            cnt
 Min.   :0.07907   Min.   :0.3758   Min.   :0.04541   Min.   : 605
 1st Qu.:0.32757   1st Qu.:0.5380   1st Qu.:0.13495   1st Qu.:1916
 Median :0.46527   Median :0.6458   Median :0.18357   Median :3578
 Mean   :0.46129   Mean   :0.6511   Mean   :0.19374   Mean   :3318
 3rd Qu.:0.60414   3rd Qu.:0.7472   3rd Qu.:0.23991   3rd Qu.:4546
 Max.   :0.78597   Max.   :0.9704   Max.   :0.41791   Max.   :5923

In [91]:
summary(train_num)

       id            season          mnth           holiday        weekday
 Min.   :  1.0   Min.   :1.00   Min.   : 1.000   Min.   :1.00   Min.   :1.000
 1st Qu.: 92.5   1st Qu.:2.00   1st Qu.: 4.000   1st Qu.:1.00   1st Qu.:2.000
 Median :181.0   Median :2.00   Median : 6.000   Median :1.00   Median :4.000
 Mean   :183.7   Mean   :2.49   Mean   : 6.545   Mean   :1.02   Mean   :4.075
 3rd Qu.:272.5   3rd Qu.:3.00   3rd Qu.: 9.000   3rd Qu.:1.00   3rd Qu.:6.000
 Max.   :365.0   Max.   :4.00   Max.   :12.000   Max.   :2.00   Max.   :7.000
   workingday       weathersit          temp            atemp
 Min.   : 1.000   Min.   : 1.000   Min.   :0.1348   Min.   :0.1162
 1st Qu.: 4.000   1st Qu.: 4.000   1st Qu.:0.3183   1st Qu.:0.3207
 Median : 6.000   Median : 6.000   Median :0.4842   Median :0.4729
 Mean   : 6.545   Mean   : 6.545   Mean   :0.4898   Mean   :0.4692
 3rd Qu.: 9.000   3rd Qu.: 9.000   3rd Qu.:0.6583   3rd Qu.:0.6140
 Max.   :12.000   Max.   :12.000   Max.   :0.8492   Max.   :0.8409
      hum           windspeed            cnt
 Min.   :0.0000   Min.   :0.02239   Min.   : 431
 1st Qu.:0.5406   1st Qu.:0.13749   1st Qu.:2186
 Median :0.6475   Median :0.18843   Median :3750
 Mean   :0.6404   Mean   :0.19039   Mean   :3444
 3rd Qu.:0.7383   3rd Qu.:0.23310   3rd Qu.:4591
 Max.   :0.9725   Max.   :0.50746   Max.   :6043

 לוקח את הרשימה שנמצא בהתחלה ומוריד את הרשימה שנמצא בחלק השני, במקרה הזה זה לא רשימה אלה המשתנה המסביר אבל יכול להיות גם רשימה, צריך להוריד את המשתנה המסביר מטסט

In [32]:
nm<-setdiff(names(train_num), "cnt")
nm

 [1] "id"         "season"     "mnth"       "holiday"    "weekday"
 [6] "workingday" "weathersit" "temp"       "atemp"      "hum"
[11] "windspeed"

In [33]:
summary(train_num)

       id            season          mnth           holiday        weekday
 Min.   :  1.0   Min.   :1.00   Min.   : 1.000   Min.   :1.00   Min.   :1.000
 1st Qu.: 92.5   1st Qu.:2.00   1st Qu.: 4.000   1st Qu.:1.00   1st Qu.:2.000
 Median :181.0   Median :2.00   Median : 6.000   Median :1.00   Median :4.000
 Mean   :183.7   Mean   :2.49   Mean   : 6.545   Mean   :1.02   Mean   :4.075
 3rd Qu.:272.5   3rd Qu.:3.00   3rd Qu.: 9.000   3rd Qu.:1.00   3rd Qu.:6.000
 Max.   :365.0   Max.   :4.00   Max.   :12.000   Max.   :2.00   Max.   :7.000
   workingday      weathersit          temp            atemp
 Min.   :1.000   Min.   : 1.000   Min.   :0.1348   Min.   :0.1162
 1st Qu.:1.000   1st Qu.: 4.000   1st Qu.:0.3183   1st Qu.:0.3207
 Median :1.000   Median : 6.000   Median :0.4842   Median :0.4729
 Mean   :1.435   Mean   : 6.545   Mean   :0.4898   Mean   :0.4692
 3rd Qu.:2.000   3rd Qu.: 9.000   3rd Qu.:0.6583   3rd Qu.:0.6140
 Max.   :3.000   Max.   :12.000   Max.   :0.8492   Max.   :0.8409
      hum           windspeed            cnt
 Min.   :0.0000   Min.   :0.02239   Min.   : 431
 1st Qu.:0.5406   1st Qu.:0.13749   1st Qu.:2186
 Median :0.6475   Median :0.18843   Median :3750
 Mean   :0.6404   Mean   :0.19039   Mean   :3444
 3rd Qu.:0.7383   3rd Qu.:0.23310   3rd Qu.:4591
 Max.   :0.9725   Max.   :0.50746   Max.   :6043

In [34]:
X_train <- data.matrix(train_num[,nm])
y_train <- train_num$cnt
mod7 <- xgboost(data=X_train, label = y_train, nrounds=100,print_every_n = 10)

[1]	train-rmse:2636.455811
[11]	train-rmse:192.233932
[21]	train-rmse:81.790916
[31]	train-rmse:40.084064
[41]	train-rmse:24.109116
[51]	train-rmse:14.954153
[61]	train-rmse:9.635825
[71]	train-rmse:6.721480
[81]	train-rmse:3.406991
[91]	train-rmse:2.125056
[100]	train-rmse:1.309937

In [35]:
#X_test <- xgb.DMatrix(test1)
X_test <- data.matrix(test_num[,nm])
y_test <- test_num$cnt

pred7 <- predict(mod7,newdata=X_test)
rmse(y_test,pred7)
rmsle(y_test,pred7)
err_res <- rbind(err_res, data.frame(Name="XGBoost", Model="mod7", 
                                     RMSE=rmse(test$cnt,pred7), 
                                     RMSLE=rmsle(test$cnt,pred7)))

[1] 579.892

[1] 0.287095

In [51]:
#train1 <- Matrix::sparse.model.matrix(cnt ~ .-1, data = train_num)

In [52]:
#test1 <- Matrix::sparse.model.matrix(cnt ~ .-1, data = test_num)

In [95]:
#X_test <- xgb.DMatrix(test1)

#X_test <- test1
#y_test <- test$cnt

#pred7 <- predict(mod7,newdata=X_test)
#rmse(y_test,pred7)
#rmsle(y_test,pred7)
#err_res <- rbind(err_res, data.frame(Name="XGBoost", Model="mod7", 
                                    # RMSE=rmse(test_num$cnt,pred7), 
                                    # RMSLE=rmsle(test_num$cnt,pred7)))

[1] 591.9582

[1] 0.28685

## kNN

In [54]:
### adaboost needs that values to be normalized
min_max <- function(x) { (x -min(x))/(max(x)-min(x))   }

In [55]:
X_train <- sapply(data.frame(as.matrix(train1)),min_max)

In [56]:
X_test <- sapply(data.frame(as.matrix(test1)),min_max)

In [57]:
summary(X_train)

       id             season            mnth           holiday
 Min.   :0.0000   Min.   :0.0000   Min.   :0.0000   Min.   :0.00000
 1st Qu.:0.2514   1st Qu.:0.3333   1st Qu.:0.2727   1st Qu.:0.00000
 Median :0.4945   Median :0.3333   Median :0.4545   Median :0.00000
 Mean   :0.5018   Mean   :0.4967   Mean   :0.5041   Mean   :0.01961
 3rd Qu.:0.7459   3rd Qu.:0.6667   3rd Qu.:0.7273   3rd Qu.:0.00000
 Max.   :1.0000   Max.   :1.0000   Max.   :1.0000   Max.   :1.00000
    weekday         workingday       weathersit          temp
 Min.   :0.0000   Min.   :0.0000   Min.   :0.0000   Min.   :0.0000
 1st Qu.:0.1667   1st Qu.:0.0000   1st Qu.:0.2727   1st Qu.:0.2569
 Median :0.5000   Median :0.0000   Median :0.4545   Median :0.4891
 Mean   :0.5124   Mean   :0.2176   Mean   :0.5041   Mean   :0.4969
 3rd Qu.:0.8333   3rd Qu.:0.5000   3rd Qu.:0.7273   3rd Qu.:0.7329
 Max.   :1.0000   Max.   :1.0000   Max.   :1.0000   Max.   :1.0000
     atemp             hum           windspeed
 Min.   :0.0000   Min.   :0.0000   Min.   :0.0000
 1st Qu.:0.2822   1st Qu.:0.5559   1st Qu.:0.2373
 Median :0.4922   Median :0.6658   Median :0.3423
 Mean   :0.4872   Mean   :0.6586   Mean   :0.3463
 3rd Qu.:0.6869   3rd Qu.:0.7592   3rd Qu.:0.4344
 Max.   :1.0000   Max.   :1.0000   Max.   :1.0000

In [59]:
library(class)
mod8 <- knn(X_train,X_test,cl=train$cnt)

In [36]:
library(class)
mod81 <- knn(train_num,test_num,cl=train_num$cnt)

In [60]:
str(mod81)

 Factor w/ 247 levels "431","506","623",..: 33 7 21 21 21 4 30 30 52 52 ...

In [61]:
pred8 <- as.numeric(as.character(mod8))

rmse(test$cnt,pred8)
rmsle(test$cnt,pred8)
err_res <- rbind(err_res, data.frame(Name="kNN", Model="mod8", 
                                     RMSE=rmse(test$cnt,pred8), 
                                     RMSLE=rmsle(test$cnt,pred8)))

[1] 957.8129

[1] 0.4054994

## SVM

In [39]:
#install.packages("liquidSVM")
library(liquidSVM)

Warning message:
"package 'liquidSVM' was built under R version 4.0.3"

In [40]:
mod9 <- svm(cnt ~., train)

In [41]:
pred9 <- predict(mod9, newdata=test)

rmse(test$cnt,pred9)
rmsle(test$cnt,pred9)
err_res <- rbind(err_res, data.frame(Name="SVM", Model="mod9", 
                                     RMSE=rmse(test$cnt,pred9), 
                                     RMSLE=rmsle(test$cnt,pred9)))

[1] 478.3128

[1] 0.1967051

In [63]:
err_res %>% arrange(RMSLE)

  Name                   Model RMSE      RMSLE
1 kNN                    mod8   33.79699 0.02525251
2 SVM                    mod9  478.31280 0.19670509
3 Base Linear regression mod1  633.02244 0.24676782
4 XGBoost                mod7  579.89200 0.28709500
5 RandomForest (ranger)  mod6  577.10145 0.29256014
6 RandomForest (RF)      mod5  597.52156 0.30082613
7 Decision Trees-tree    mod3  783.25386 0.35420401
8 Decision Trees-rpart   mod4  783.25386 0.35420401
9 kNN                    mod8  957.81294 0.40549938

In [43]:
test$cnt

  [1] 1606 1321 1263 1162 1421 1650 1927  981  986 1416 1098 1360 1712 1530 1746
 [16] 1589 1913 2115 2475 1450 1446 1851  605 2192 2744 3117 2121 1693 3115 1795
 [31] 2808 3126  795 3429 3204 4191 3872 5312 4362 4182 4864 3409 4660 4492 4679
 [46] 4098 4548 3915 5020 4844 4010 4708 5225 5362 5119 4665 4040 5336 5538 5923
 [61] 4541 4332 3846 4302 4866 3785 4602 3820 3805 4758 3542 5115 4484 4713 4785
 [76] 4760 4511 4274 3641 4352 5423 2429 4826 4765 2416 2913 5041 4570 4748 4381
 [91]  627 4068 3649 4035 4205 3368 1817 3053 2566 1495 2792 3071 3613 3485 2594
[106]  705 3322 2743 1317 2999

In [115]:
nm<-setdiff(names(df_train), "cnt")
nm

 [1] "id"         "season"     "mnth"       "holiday"    "weekday"
 [6] "workingday" "weathersit" "temp"       "atemp"      "hum"
[11] "windspeed"

In [44]:
df_train1<-df_train[,nm]

In [49]:
dim(df_train1)

[1] 365  11

In [50]:
dim(df_test)

[1] 366  11

In [57]:
id<-366:731
cnt<-knn(df_train1,df_test,cl=df_train$cnt)

In [54]:
id<-366:731
cnt<- knn(train_num,test_num,cl=train_num$cnt)

In [56]:
id<-366:731
cnt<-knn(df_train,df_test,cl=df_train$cnt)

ERROR: Error in knn(df_train, df_test, cl = df_train$cnt): dims of 'test' and 'train' differ

In [124]:
mod91 <- svm(cnt ~., df_train)

In [125]:
pred91<- predict(mod9, newdata=df_test)

In [120]:
id<-1:nrow(df_test)
cnt<-pred91

In [58]:
dft<-data.frame(id=id, cnt=cnt)
dft

    id  cnt
1   366 2423
2   367 2423
3   368 2999
4   369 2485
5   370 2485
6   371 2485
7   372 2485
8   373 2485
9   374 2485
10  375 2485
11  376 2485
12  377 2485
13  378 2485
14  379 2485
15  380 2485
16  381 2485
17  382 2485
18  383 2485
19  384 2485
20  385 2485
21  386 2485
22  387 2485
23  388 2485
24  389 2485
25  390 2485
26  391 2485
27  392 2485
28  393 2485
29  394 2485
30  395 2485
... ... ...
337 702 2485
338 703 2485
339 704 2485
340 705 2485
341 706 2485
342 707 2485
343 708 2485
344 709 2485
345 710 2485
346 711 2485
347 712 2485
348 713 2485
349 714 2485
350 715 2485
351 716 2485
352 717 2485
353 718 2485
354 719 2485
355 720 2485
356 721 2485
357 722 2485
358 723 2485
359 724 2485
360 725 2485
361 726 2485
362 727 2485
363 728 2485
364 729 2485
365 730 2485
366 731 2485

In [127]:
write.csv(dft, file='results_svm_20201031.csv',row.names=FALSE)